<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find spot_ml_project)/worlds/gazebo.world"/>
        <arg name="paused" value="true"/>
    </include>

    <param name="robot_description" textfile="$(find spot_ml_project)/models/spot.urdf" />

    <node name="spawn_spot" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -model spot -param robot_description" />
    
</launch>
